<div class = "p-3">
  <h1>Restaurants</h1>

  <% @restaurants.each do |restaurant| %>
  <div class = "card-body border p-3 mb-2">
    <h4 class = "card-title"><%= restaurant.name %></h4>
    <p class = "card-subtitle">  <%= restaurant.address %> </p>
    <p class="card-text">Food Type:  <%= restaurant.category %></p>
    <p class="card-text"> <%= restaurant.reviews %> </p>
    <%= link_to "See details", restaurant_path(restaurant) %>
  </div>
  <% end %>

  <%= link_to "Create a New Restaurant", new_restaurant_path  %>
</div>
