<div class = "card-body border p-3 mb-2">
  <h2 class = "card-title"><%= @restaurant.name %></h2>
  <p class = "card-subtitle"> Address:  <%= @restaurant.address %> </p>
  <p class="card-text">Food Type:  <%= @restaurant.category %></p>
  <p class="card-text"> <%= @restaurant.reviews%></p>
  <p><%= link_to "Add a Review", new_restaurant_review_path(@restaurant) %></p>
  <p><%= link_to "Back to list", restaurants_path  %></p>
</div>

